        <div id="page_sidebar" class="group-tabs">
<ol class="tabs">
<li class="tab home-page no-pjax" data-name="pages/home"><h3 class="tab-name"><a href="#">Men's Ministry</a></h3></li>
<li class="tab  selected" data-name="discussion">
<h3 class="tab-name"><a href="#">Discussion</a></h3>            <ol class="tab-preview-list">
<li class="comment-thumbnail">
  <div class="comment-thumbnail-avatar avatar"><a href="/a/profile" class="avatar-link" title="Kent Williams"><img alt="Kent Williams" height="32" src="https://unite-production.s3.amazonaws.com/tenants/demo/portraits/787/WilliamsKent.png" width="32"></a></div>
  <div class="comment-thumbnail-content">
<p>Kyle went to the hospital to have tests done on ...</p>
</div>
</li>
<li class="comment-thumbnail">
  <div class="comment-thumbnail-avatar avatar"><a href="/a/profile" class="avatar-link" title="Kent Williams"><img alt="Kent Williams" height="32" src="https://unite-production.s3.amazonaws.com/tenants/demo/portraits/787/WilliamsKent.png" width="32"></a></div>
  <div class="comment-thumbnail-content">
<p>We're having a Pancake Breakfast on Feb. 8 @ 8am on...</p>
</div>
</li>
<li class="comment-thumbnail">
  <div class="comment-thumbnail-avatar avatar"><a href="/a/profile" class="avatar-link" title="Rick Nelson"><img alt="Rick Nelson" height="32" src="https://unite-production.s3.amazonaws.com/tenants/demo/portraits/852/NelsonRichard.png" width="32"></a></div>
  <div class="comment-thumbnail-content">
<p>Anyone interested in going to a Cardinals baseball ...</p>
</div>
</li>

    </ol>
</li>
<li class="tab " data-name="events">
<h3 class="tab-name"><a href="#">Events</a></h3>          <a href="#">New Event</a>
</li>
<li class="tab " data-name="members">
<h3 class="tab-name"><a href="#">Members</a></h3>            <ol class="tab-preview-list group-members">
<li class="member">
  <span class="member-avatar"><a href="/a/profile" class="avatar-link" title="Chuck Martin"><img alt="Chuck Martin" height="32" src="https://unite-production.s3.amazonaws.com/tenants/demo/portraits/843/MartinCharles.png" width="32"></a></span>
  <span class="member-name"><a href="/a/profile">Chuck Martin</a></span>
</li>
<li class="member">
  <span class="member-avatar"><a href="/a/profile" class="avatar-link" title="Charles Hobson"><img alt="Charles Hobson" height="32" src="http://www.gravatar.com/avatar/0f8685e3bf1637dbe4463c4f5c74105a?r=g&amp;d=https%3A%2F%2Fs3.amazonaws.com%2Fcphepdev%2Funite-images%2Fportrait.png&amp;s=32" width="32"></a></span>
  <span class="member-name"><a href="/a/profile">Charles Hobson</a></span>
</li>
<li class="member">
  <span class="member-avatar"><a href="/a/profile" class="avatar-link" title="Dave Abbott"><img alt="Dave Abbott" height="32" src="https://unite-production.s3.amazonaws.com/tenants/demo/portraits/788/AbbottDavid.png" width="32"></a></span>
  <span class="member-name"><a href="/a/profile">Dave Abbott</a></span>
</li>
<li class="member">
  <span class="member-avatar"><a href="/a/profile" class="avatar-link" title="James Henry"><img alt="James Henry" height="32" src="https://unite-production.s3.amazonaws.com/tenants/demo/portraits/834/HenryJames.png" width="32"></a></span>
  <span class="member-name"><a href="/a/profile">James Henry</a></span>
</li>

    </ol>
<a href="#" class="link-to-more">10 more...</a>
</li>
<li class="tab " data-name="edit"><h3 class="tab-name"><a href="#">Edit this Group</a></h3></li>
</ol>
<p> </p>
<form action="#" class="button_to" method="post" onsubmit="return false;"><div>
<input class="btn btn-default" type="submit" value="Join this group"><input name="authenticity_token" type="hidden" value="utTyoRmCUaHXJsQ/oEyhyf+XN5GOBKfBlKuuNe0Kjww=">
</div></form> 

</div>

<div id="page_main"><h2>Discussion</h2><div class="flash notice" id="flash_group_notice" style="display:none;"> <a class="close" data-dismiss="alert" href="#">×</a></div><div class="flash alert" id="flash_group_alert" style="display:none;"> <a class="close" data-dismiss="alert" href="#">×</a></div><div class="flash error" id="flash_group_error" style="display:none;"> <a class="close" data-dismiss="alert" href="#">×</a></div><div class="comment-flash-container">
    <h4>New Comment</h4>
    <div class="comment comment-editor group-comment discussion" id="new_comment">
  <div class="comment-container">
    <form accept-charset="UTF-8" action="/comments" class="comment-editor-form" data-remote="true" id="new_comment" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="utTyoRmCUaHXJsQ/oEyhyf+XN5GOBKfBlKuuNe0Kjww="></div>
      <div class="comment-avatar"><a href="/a/profile" class="avatar-link" title="Tim Benedict"><img alt="Tim Benedict" height="48" src="http://www.gravatar.com/avatar/1ee81dc6a86daf66090a81ff837525af?r=g&amp;d=https%3A%2F%2Fs3.amazonaws.com%2Fcphepdev%2Funite-images%2Fportrait.png&amp;s=48" width="48"></a></div>
        <div class="comment-byline">
          <span class="comment-author">Tim Benedict</span>:
        </div>
      <div class="comment-content">
        <input data-attr="parent_id" id="comment_parent_id" name="comment[parent_id]" type="hidden">
        <input data-attr="context_id" id="comment_context_id" name="comment[context_id]" type="hidden" value="165">
        <input data-attr="context_type" id="comment_context_type" name="comment[context_type]" type="hidden" value="Group">
        <textarea cols="40" id="comment_content" name="comment[content]" rows="4"></textarea>
            <p class="markdown-help">
      You can use <a href="http://daringfireball.net/projects/markdown/syntax" target="blank">markdown</a> to format your comments.
    </p>

      
      
        <div class="comment-submit-controls">
          <input class="btn" name="commit" type="submit" value="Post">
            &nbsp;&nbsp;as&nbsp;&nbsp;
            <span class="comment-category-selector">
                <label for="comment_category_discussion" class="selected">
                  <input checked="checked" id="comment_category_discussion" name="comment[category]" type="radio" value="Discussion">&nbsp;Discussion
                </label>
                <label for="comment_category_prayer_request">
                  <input id="comment_category_prayer_request" name="comment[category]" type="radio" value="Prayer Request">&nbsp;Prayer Request
                </label>
            </span>
          
        </div>
      </div>
</form>  </div>
</div>
      <div id="comments" data-order="desc">
      <div class="comment group-comment discussion" id="comment_620">
  <div class="comment-container">
    <div class="comment-avatar"><a name="comment_620"></a><a href="/a/profile" class="avatar-link" title="Rick Nelson"><img alt="Rick Nelson" height="48" src="https://unite-production.s3.amazonaws.com/tenants/demo/portraits/852/NelsonRichard.png" width="48"></a></div>
    <div class="comment-byline">
      <span class="comment-author">
          <a href="/a/profile">Rick Nelson</a>
      </span>
      on <span class="comment-date"><span class="comment-date">April 15, 2014 10:08 AM</span></span>:
        <span class="comment-category">Discussion</span>
    </div>
    <div class="comment-controls">
      <a href="/comments/620/edit" class="link-to-edit-comment">Edit</a>
      <a href="/comments/620/destroy" class="link-to-destroy-comment">Delete</a>
      <a href="/comments/620/reply" class="link-to-reply-to-comment">Reply</a>
    </div>
    <div class="comment-content"><p>Anyone interested in going to a Cardinals baseball game this Summer? </p>
</div>
  </div>
    <div class="comment-replies">
        <div class="comment comment-reply discussion" id="comment_945">
  <div class="comment-container">
    <div class="comment-avatar"><a name="comment_945"></a><a href="/a/profile" class="avatar-link" title="Kent Williams"><img alt="Kent Williams" height="32" src="https://unite-production.s3.amazonaws.com/tenants/demo/portraits/787/WilliamsKent.png" width="32"></a></div>
    <div class="comment-byline">
      <span class="comment-author">
          <a href="/a/profile">Kent Williams</a>
      </span>
      on <span class="comment-date"><span class="comment-date">August 29, 2014 10:36 AM</span></span>:
        <span class="comment-category">Discussion</span>
    </div>
    <div class="comment-controls">
      <a href="/comments/945/edit" class="link-to-edit-comment">Edit</a>
      <a href="/comments/945/destroy" class="link-to-destroy-comment">Delete</a>
      
    </div>
    <div class="comment-content"><p>Let's go to the Cardinals/Phillies game!</p>
</div>
  </div>
</div>
    </div>
</div><div class="comment group-comment announcement" id="comment_465">
  <div class="comment-container">
    <div class="comment-avatar"><a name="comment_465"></a><a href="/a/profile" class="avatar-link" title="Kent Williams"><img alt="Kent Williams" height="48" src="https://unite-production.s3.amazonaws.com/tenants/demo/portraits/787/WilliamsKent.png" width="48"></a></div>
    <div class="comment-byline">
      <span class="comment-author">
          <a href="/a/profile">Kent Williams</a>
      </span>
      on <span class="comment-date"><span class="comment-date">January 14, 2014  7:28 PM</span></span>:
        <span class="comment-category">Announcement</span>
    </div>
    <div class="comment-controls">
      <a href="/comments/465/edit" class="link-to-edit-comment">Edit</a>
      <a href="/comments/465/destroy" class="link-to-destroy-comment">Delete</a>
      <a href="/comments/465/reply" class="link-to-reply-to-comment">Reply</a>
    </div>
    <div class="comment-content"><p>We're having a Pancake Breakfast on Feb. 8 @ 8am only $2.  We'll be talking about upcoming events and future plans.  Hope everyone can be there!</p>
</div>
  </div>
</div><div class="comment group-comment prayer-request" id="comment_352">
  <div class="comment-container">
    <div class="comment-avatar"><a name="comment_352"></a><a href="/a/profile" class="avatar-link" title="Kent Williams"><img alt="Kent Williams" height="48" src="https://unite-production.s3.amazonaws.com/tenants/demo/portraits/787/WilliamsKent.png" width="48"></a></div>
    <div class="comment-byline">
      <span class="comment-author">
          <a href="/a/profile">Kent Williams</a>
      </span>
      on <span class="comment-date"><span class="comment-date">September 25, 2013  1:42 PM</span></span>:
        <span class="comment-category">Prayer Request</span>
    </div>
    <div class="comment-controls">
      <a href="/comments/352/edit" class="link-to-edit-comment">Edit</a>
      <a href="/comments/352/destroy" class="link-to-destroy-comment">Delete</a>
      <a href="/comments/352/reply" class="link-to-reply-to-comment">Reply</a>
    </div>
    <div class="comment-content"><p>Kyle went to the hospital to have tests done on ...</p>
</div>
  </div>
</div>
    </div>
    

</div></div>

<div style="clear:both;"></div>
