<div class="page-description personal-information">
  
  <div class="profile-portrait">
    <div class="portrait"><a href="#" class="avatar-link" title="Sue Abbott"><img alt="Sue Abbott" height="56" src="https://unite-production.s3.amazonaws.com/tenants/demo/portraits/789/AbbottSusanne.png" width="56"></a></div>
      </div>
  
  <div class="profile-name-and-email">
    <h1 class="profile-name">Sue Abbott</h1>
      <p class="profile-email">
      <span class=""><a href="mailto:saabbott@mailinator.com">saabbott@mailinator.com</a></span><br>
      <span class=""><a href="mailto:sabbott@tciaccounting.com">sabbott@tciaccounting.com</a></span><br>
  </p>

  </div>
  
  <div class="profile-contact-information">
    <h6>Phone Numbers</h6>
  <ul class="profile-phone-numbers">
      <li class="profile-phone-number ">
        <span class="phone-number">(314) 959-5314</span>
        <span class="contact-kind">(work)</span>
      </li>
      <li class="profile-phone-number ">
        <span class="phone-number">(314) 958-3015</span>
        <span class="contact-kind">(cell)</span>
      </li>
  </ul>

    
  </div>
  
  
</div>

<div id="page_sidebar" class="profile-tabs">
  
  
  
  
  
  
  
  
  
  
  
  
  
<ol class="tabs"><li class="tab selected " data-name="groups"><h3 class="tab-name"><a href="#">Groups</a></h3>    <ol class="groups tab-preview-list">
    </ol>
</li><li class="tab " data-name="activity"><h3 class="tab-name"><a href="#">Recent Activity</a></h3>        <ol class="tab-preview-list">
      
    </ol>

</li></ol>
</div>

<div id="page_main">
  <h2>Groups</h2>

<div class="flash notice" id="flash_profile_notice" style="display:none;"> <a class="close" data-dismiss="alert" href="#">×</a></div><div class="flash alert" id="flash_profile_alert" style="display:none;"> <a class="close" data-dismiss="alert" href="#">×</a></div><div class="flash error" id="flash_profile_error" style="display:none;"> <a class="close" data-dismiss="alert" href="#">×</a></div>

  <p class="writeCopy">Sue Abbott is not a member of any groups.</p>

</div>

<div style="clear:both;"></div>
