<div class="page-description event-information">
  
  <h1 class="event-title">Mothers of Preschoolers (MOPS)</h1>
  
          <div class="event-when">
          <span class="event-date"><span class="event-date-weekday">Thursday</span><span class="event-date-month">November</span><span class="event-date-day">13</span></span>
              <span class="event-time event-time-range">
      <span class="event-time-range-min"><span class="event-time-hour">10</span><span class="event-time-minute">00</span><span class="event-time-ampm">AM</span></span>
      <span class="event-time-range-max"><span class="event-time-hour">11</span><span class="event-time-minute">00</span><span class="event-time-ampm">AM</span></span>
    </span>

        </div>

  
    <div class="event-location">Atrium</div>
  
        <div class="event-participation user-invited user-participates user-rsvp-invited">
      <span class="event-participation-message"></span>
      <span class="event-participation-actions">
        <a href="#" data-action="change-rsvp" data-event-id="19983">Change my RSVP</a>
        <a href="#" data-action="rsvp" data-response="attending" data-event-id="19983">I'm going</a>
        <a href="#" data-action="rsvp" data-response="maybe" data-event-id="19983">I might go</a>
        <a href="#" data-action="rsvp" data-response="declined" data-event-id="19983">I'm not going</a>
        <a href="#" data-action="leave" data-event-id="19983">I'm not going.</a>
        <a href="#" data-action="join" data-event-id="19983">I'm going!</a>
      </span>
      
      <span class="event-reminders" style="display:none"><em class="event-reminders-none">No reminders</em> <a href="#" class="event-reminders-edit">Change</a></span>
    </div>

  
    <div class="event-details"><p>Welcome to MOPS - a place to find friendship, community, resources and support for you as a woman and mother so you're not alone.</p>
</div>
  
  <div class="event-actions">
      <span class="event-action event-link-to-my-calendar"><a href="/events/members/1302803.ics">Add to my calendar</a></span>
      <span class="event-action event-link-to-email-invitation">
        <a href="mailto:?subject=You are invited to a Christ Community Church event via Church360° Unite&amp;body=Event%3A Mothers of Preschoolers %28MOPS%29%0A%0AClick the URL below to respond to this invitation%3A%0A%0Ahttp%3A%2F%2Fdemo.360unite.com%2Fevents%2Fmembers%2F1302803%0A">Invite a friend</a>
      </span>
  </div>
  
  <div class="event-rsvp event-rsvp-banner" style="">You've been invited to this event.
Are you planning to go?
<span class="event-rsvp-responses">
  <button class="btn btn-success invited-button" data-response="attending" data-event-id="1302803" data-event-owner="">I'm Going</button>
  <button class="btn btn-warning invited-button" data-response="maybe" data-event-id="1302803" data-event-owner="">Maybe</button>
  <button class="btn btn-danger invited-button" data-response="declined" data-event-id="1302803" data-event-owner="">Not Going</button>
</span>
</div>
</div>

<div id="page_sidebar" class="event-tabs">
  
  
  
    
    
    
  
<ol class="tabs">
  <li class="tab" data-name="discussion"><h3 class="tab-name"><a href="#">Recent Comments by</a></h3>
    <ol class="tab-preview-list"></ol>
  </li>
  
  <li class="tab selected" data-name="participants">
    <h3 class="tab-name"><a href="#">Participants</a></h3>
    <ol class="tab-preview-list">
      <li class="member">
        <span class="member-avatar">
          <a href="/a/profile" class="avatar-link" title="Sue Abbott">
            <img src="http://demo.360unite.com/profiles/by_remote/1035403414/portrait" width="32">
          </a>
        </span>
        <span class="member-name"><a href="/a/profile">Sue Abbott</a></span>
      </li>
      <li class="member">
        <span class="member-avatar">
          <a href="/a/profile" class="avatar-link" title="Kira Belton">
            <img src="http://demo.360unite.com/profiles/by_remote/1035403420/portrait" width="32">
          </a>
        </span>
        <span class="member-name"><a href="/a/profile">Kira Belton</a></span>
      </li>
      <li class="member">
        <span class="member-avatar">
          <a href="/a/profile" class="avatar-link" title="Molly Chung">
            <img src="http://demo.360unite.com/profiles/by_remote/1035403513/portrait" width="32">
          </a>
        </span>
        <span class="member-name"><a href="/a/profile">Molly Chung</a></span>
      </li>
    </ol>
  </li>
</ol>

</div>

<div id="page_main">
  <div id="rsvp"><h2>Participants</h2>

<h3>Yes <span class="participant-count">(1)</span></h3>
<ul class="event-participants">
  <li class="member">
  <span class="member-avatar">
    <a href="/a/profile" class="avatar-link" title="Sue Abbott">
      <img src="http://demo.360unite.com/profiles/by_remote/1035403414/portrait" width="32">
    </a>
  </span>
  <span class="member-name"><a href="/a/profile">Sue Abbott</a></span>
</li>

</ul>

<h3>Maybe <span class="participant-count">(0)</span></h3>
<ul class="event-participants">
  
</ul>

<h3>No <span class="participant-count">(1)</span></h3>
<ul class="event-participants">
  <li class="member">
  <span class="member-avatar">
    <a href="/a/profile" class="avatar-link" title="Sally Baxter">
      <img src="http://demo.360unite.com/profiles/by_remote/1035403365/portrait" width="32">
    </a>
  </span>
  <span class="member-name"><a href="/a/profile">Sally Baxter</a></span>
</li>

</ul>

<h3>No Response <span class="participant-count">(8)</span></h3>
<ul class="event-participants">
  <li class="member">
  <span class="member-avatar">
    <a href="/a/profile" class="avatar-link" title="Kira Belton">
      <img src="http://demo.360unite.com/profiles/by_remote/1035403420/portrait" width="32">
    </a>
  </span>
  <span class="member-name"><a href="/a/profile">Kira Belton</a></span>
</li>
<li class="member">
  <span class="member-avatar">
    <a href="/a/profile" class="avatar-link" title="Molly Chung">
      <img src="http://demo.360unite.com/profiles/by_remote/1035403513/portrait" width="32">
    </a>
  </span>
  <span class="member-name"><a href="/a/profile">Molly Chung</a></span>
</li>
<li class="member">
  <span class="member-avatar">
    <a href="/a/profile" class="avatar-link" title="Brianna Cook">
      <img src="http://demo.360unite.com/profiles/by_remote/1035403561/portrait" width="32">
    </a>
  </span>
  <span class="member-name"><a href="/a/profile">Brianna Cook</a></span>
</li>
<li class="member">
  <span class="member-avatar">
    <a href="/a/profile" class="avatar-link" title="Pam Fernandez">
      <img src="http://demo.360unite.com/profiles/by_remote/1035403371/portrait" width="32">
    </a>
  </span>
  <span class="member-name"><a href="/a/profile">Pam Fernandez</a></span>
</li>
<li class="member">
  <span class="member-avatar">
    <a href="/a/profile" class="avatar-link" title="Hattie Gibson">
      <img src="http://demo.360unite.com/profiles/by_remote/1035403377/portrait" width="32">
    </a>
  </span>
  <span class="member-name"><a href="/a/profile">Hattie Gibson</a></span>
</li>
<li class="member">
  <span class="member-avatar">
    <a href="/a/profile" class="avatar-link" title="Dennis Haywood">
      <img src="http://demo.360unite.com/profiles/by_remote/1035403444/portrait" width="32">
    </a>
  </span>
  <span class="member-name"><a href="/a/profile">Dennis Haywood</a></span>
</li>
<li class="member">
  <span class="member-avatar">
    <a href="/a/profile" class="avatar-link" title="Rosa Henry">
      <img src="http://demo.360unite.com/profiles/by_remote/1035403470/portrait" width="32">
    </a>
  </span>
  <span class="member-name"><a href="/a/profile">Rosa Henry</a></span>
</li>
<li class="member">
  <span class="member-avatar">
    <a href="/a/profile" class="avatar-link" title="Rebecca Owens">
      <img src="http://demo.360unite.com/profiles/by_remote/1035403484/portrait" width="32">
    </a>
  </span>
  <span class="member-name"><a href="/a/profile">Rebecca Owens</a></span>
</li>

</ul>
</div>


</div>

<div style="clear:both;"></div>
