<div id="membership_directory" class=""><input type="text" id="filter"><ol><li class="member"><div class="portrait"><img src="https://s3.amazonaws.com/cphepdev/unite-images/portrait.png" width="48" height="48"></div>
<div class="memberdir-info">
  <span class="memberdir-name"><a class="memberdir-link" href="/profiles/by_person/1035188581">Tim <b>Agnew</b></a></span>
  <span class="memberdir-contact">
    
    
  </span>
</div></li><li class="member"><div class="portrait"><img src="https://s3.amazonaws.com/cphepdev/unite-images/portrait.png" width="48" height="48"></div>
<div class="memberdir-info">
  <span class="memberdir-name"><a class="memberdir-link" href="/profiles/by_person/1035188583">Tim <b>Agnew</b></a></span>
  <span class="memberdir-contact">
    
    
  </span>
</div></li><li class="member"><div class="portrait"><img src="http://www.gravatar.com/avatar/24fc58b57018940e6c210c49a093ca75?r=g&amp;d=https%3A%2F%2Fs3.amazonaws.com%2Fcphepdev%2Funite-images%2Fportrait.png" width="48" height="48"></div>
<div class="memberdir-info">
  <span class="memberdir-name"><a class="memberdir-link" href="/profiles/1">Johnny <b>Doed</b></a></span>
  <span class="memberdir-contact">
    <a href="mailto:Johnny%20Doed%20%3Crobert.lail@cph.org%3E">robert.lail@cph.org</a> · <a href="mailto:Johnny%20Doed%20%3Cpastor@cph.org%3E">pastor@cph.org</a><br>
    
  </span>
</div></li><li class="member"><div class="portrait"><img src="https://s3.amazonaws.com/cphepdev/unite-images/portrait.png" width="48" height="48"></div>
<div class="memberdir-info">
  <span class="memberdir-name"><a class="memberdir-link" href="/profiles/by_person/4">Janine <b>Hawthorne</b></a></span>
  <span class="memberdir-contact">
    
    
  </span>
</div></li><li class="member"><div class="portrait"><img src="https://s3.amazonaws.com/cphepdev/unite-images/portrait.png" width="48" height="48"></div>
<div class="memberdir-info">
  <span class="memberdir-name"><a class="memberdir-link" href="/profiles/9">Timothy Paul <b>Horton</b></a></span>
  <span class="memberdir-contact">
    <a href="mailto:Timothy%20Paul%20Horton%20%3Ctimhorton@cph.org%3E">timhorton@cph.org</a><br>
    
  </span>
</div></li><li class="member"><div class="portrait"><img src="https://s3.amazonaws.com/cphepdev/unite-images/portrait.png" width="48" height="48"></div>
<div class="memberdir-info">
  <span class="memberdir-name"><a class="memberdir-link" href="/profiles/by_person/1035188579">Tester <b>McTesterson</b></a></span>
  <span class="memberdir-contact">
    <a href="mailto:Tester%20McTesterson%20%3Ctest@example.com%3E">test@example.com</a><br>
    
  </span>
</div></li><li class="member"><div class="portrait"><img src="https://s3.amazonaws.com/cphepdev/unite-images/portrait.png" width="48" height="48"></div>
<div class="memberdir-info">
  <span class="memberdir-name"><a class="memberdir-link" href="/profiles/11">Meagan <b>Thole</b></a></span>
  <span class="memberdir-contact">
    <a href="mailto:Meagan%20Thole%20%3Cmeagan.thole@cph.org%3E">meagan.thole@cph.org</a><br>
    
  </span>
</div></li><li class="member"><div class="portrait"><img src="https://s3.amazonaws.com/cphepdev/unite-images/portrait.png" width="48" height="48"></div>
<div class="memberdir-info">
  <span class="memberdir-name"><a class="memberdir-link" href="/profiles/by_person/9">Angie <b>Werner</b></a></span>
  <span class="memberdir-contact">
    
    
  </span>
</div></li><li class="member"><div class="portrait"><img src="https://s3.amazonaws.com/cphepdev/unite-images/portrait.png" width="48" height="48"></div>
<div class="memberdir-info">
  <span class="memberdir-name"><a class="memberdir-link" href="/profiles/by_person/8">Frank <b>Werner</b></a></span>
  <span class="memberdir-contact">
    
    
  </span>
</div></li><li class="member"><div class="portrait"><img src="https://s3.amazonaws.com/cphepdev/unite-images/portrait.png" width="48" height="48"></div>
<div class="memberdir-info">
  <span class="memberdir-name"><a class="memberdir-link" href="/profiles/by_person/3">Mary <b>Werner</b></a></span>
  <span class="memberdir-contact">
    <a href="mailto:Mary%20Werner%20%3Cvolunteer@cph.org%3E">volunteer@cph.org</a><br>
    <a href="tel:314-555-5555">(314) 555-5555</a>
  </span>
</div></li></ol></div>
